implementation/key-server/server_epid
implementation/key-server/ssl/ca.*
implementation/key-server/ssl/server.*

implementation/app/trusted/ca.crt
implementation/app/trusted/python.manifest
implementation/app/trusted/python.manifest.sgx
implementation/app/trusted/python.sig
implementation/app/trusted/python.token
implementation/app/trusted/model_encrypted

implementation/model-trainer/key.key
implementation/model-trainer/model.pkl
implementation/model-trainer/model_encrypted

implementation/settings.sh
implementation/.venv
