implementation/key-server/server_epid
implementation/key-server/ssl/ca.*
implementation/key-server/ssl/server.*

implementation/predictor/trusted/ca.crt
implementation/predictor/trusted/python.manifest
implementation/predictor/trusted/python.manifest.sgx
implementation/predictor/trusted/python.sig
implementation/predictor/trusted/python.token
implementation/predictor/trusted/model_encrypted
implementation/predictor/trusted/cars.csv

implementation/model-trainer/key.key
implementation/model-trainer/model.pkl
implementation/model-trainer/model_encrypted

implementation/settings.sh
implementation/.venv
implementation/generated_cars.csv
